# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
.netbeans.xml

# Compass/SASS/SCSS
.sass-cache

# Other
.env
node_modules

bin/composer.phar
/vendor/

/data/*
!/data/.gitkeep

/web/*
!/web/.gitkeep
!/web/index.php
!/web/wp-config.php
# Add you're Bedrock config files, etc to not-ignore
#!/site/config

docker-compose.override.yml
