# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
.netbeans.xml

# Compass/SASS/SCSS
.sass-cache

# Other
.env
node_modules

/vendor/
composer.lock

/data/*
!/data/.gitkeep

/web/*
!/web/app/*/.gitkeep
!/web/.gitkeep
!/web/index.php
!/web/wp-config.php
# Add you're Bedrock config files, etc to not-ignore
#!/site/config

docker-compose.override.yml
